{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<div class="navbar-nav ml-auto">
    <a href="../logout" class="fa fa-sign-out nav-item nav-link">&nbsp;Logout</a>&nbsp;&nbsp;
</div>
{% else %}
<div class="navbar-nav ml-auto">
    {% csrf_token %}
    <a href="login" class="fa fa-sign-in nav-item nav-link">&nbsp;Login</a>&nbsp;&nbsp;
    <a href="register" class="fa fa-user nav-item nav-link">&nbsp;Signup</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
<form >
    {% csrf_token %}
<table >
    <tr>
        <td>—————</td>
        <td>—————————————</td>
        <td>—————————</td>
        <td>—————</td>
    </tr>
    {% for train in trains %}
    {% if train.source == src and  train.destination == dst %}
    <tr>
            <td> <b>{{ train.pnr }}</b> </td> <td>
            <b>{{train.name}} </b>  </td>
            <td>●Runs on : {{train.day}}</td>
            <td>|&nbsp;<b>SL</b>&nbsp;●&nbsp;{{train.pricesl}}₹</td>
        
    </tr>

    <tr>
        <td align = "center">{{train.source}}</td>
        <td align = "center">🚆●---->----●🚆</td>
        <td align = "center">{{train.destination}}</td>
        <td>|&nbsp;<b>2S</b>&nbsp;●&nbsp;{{train.price2s}}₹</td>
    </tr>

    <tr>
        <td align = "center"><b>{{train.arrival}}</b></td>
        <td align = "center">●</td>
        <td align = "center"><b>{{train.departure}}</b></td>
        <td align = "center"><a href="../inter/?id={{train.id}}&pricesl={{train.pricesl}}&price2s={{train.price2s}}"><input type = "button" name = "book" value = "Book"></a></td>
    </tr>

    <tr>
        <td>—————</td>
        <td>—————————————</td>
        <td>—————————</td>
        <td>—————</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</form>
{% endblock %}