{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<div class="navbar-nav ml-auto">
    <a href="../logout" class="fa fa-sign-out nav-item nav-link">&nbsp;Logout</a>&nbsp;&nbsp;
</div>
{% else %}
<div class="navbar-nav ml-auto">
    {% csrf_token %}
    <a href="login" class="fa fa-sign-in nav-item nav-link">&nbsp;Login</a>&nbsp;&nbsp;
    <a href="register" class="fa fa-user nav-item nav-link">&nbsp;Signup</a>
</div>
{% endif %}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Welcome,&nbsp;</strong>{{ message }}
</div>
{% endfor %}
<br>
<form action="display/" method = "get">
    {% csrf_token %}
<table border = "0px" cellpaddind = "2px" cellspacing = "2px">
    <tr>
        <td>Source</td>
        <td>Destination</td>
        <td>Date</td>
    </tr>
    <tr>
        <td><input type = "text" name = "src" placeholder = "From">&nbsp;⇋&nbsp;</td> 
        <td><input type = "text" name = "dst" placeholder = "To">&nbsp;*&nbsp;</td>
        <td><input type = "date" name = "dates"></td> 
    </tr>
    <tr>
        <td colspan = "3"><center><input type = "submit" name = "find" value = "find"></center></td>
    </tr>
</table>
</form>
{% else %}
<div class="container-fluid text-center">
    <div class="gallery">
        <img src="{% static 'images/home.jpg' %}" alt="Home" width="1300" height="600">
    </div>
</div>

{% endif %}
{% endblock %}